/* App-wide styling */
.container {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    gap: 10px; /* Espacement entre les éléments */
    width: 300px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body {
    background-color: #021433;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 750px;
}



