<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- Assurez-vous d'avoir un fichier CSS pour le style -->
</head>
<body>
<div class="container">
    <h1>Bienvenue sur votre page d'accueil !</h1>
    <p>Bonjour, [Nom de l'utilisateur] ! Vous êtes maintenant connecté.</p>
    <!-- Ajoutez d'autres éléments selon vos besoins -->
</div>
</body>
</html>
