<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- Assurez-vous d'avoir un fichier CSS pour le style -->
</head>
<body>
<div class="container">
    <h1>Bienvenue sur votre page d'accueil !</h1>
    <!-- Message d'accueil personnalisé qui sera mis à jour avec le nom de l'utilisateur -->
    <p id="welcome-message">Chargement...</p>

    <!-- Autres éléments pour la page d'accueil -->
    <div id="user-info">
        <p>Voici vos informations :</p>
        <ul>
            <li>Email : <span id="user-email"></span></li>
            <!-- Ajoutez d'autres informations de l'utilisateur ici -->
        </ul>
    </div>
</div>

<script src="../static/app.js"></script> <!-- Ajoutez votre script JS ici -->
</body>
</html>
