<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <img src="../assets/Vaultify-Color-svg.svg" alt="Vaultify Color Logo" id="left-logo">
    <img src="../assets/vault-text-svg.svg" alt="Vaultify Logo" id="center-logo">
    <button id="dark-mode-toggle">Toggle Dark Mode</button>
</header>
<main>
    <h1>Welcome to the Main Page</h1>
    <a href="/create-user">Create User</a>
    <a href="/login">Login</a>
</main>
</body>
</html>
