<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/vaultify-grad.ico" type="image/x-icon"> <!-- Icône du site -->
</head>
<body>
<div class="container">
    <img src="../static/vault-text-svg.svg" alt="Bannière" class="banner-image svg"> <!-- Image en haut -->
    <h2>Se connecter</h2>
    <form id="loginForm">
        <div class="column">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="column">
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="column">
            <button type="submit">Se connecter</button>
        </div>
        <p>Pas encore inscrit? <a href="/register">S'inscrire</a></p>
    </form>
</div>
<script src="../static/app.js"></script>
</body>
</html>
